body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #052d3a;
  color: #fff;
}

.about-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(
    255,
    255,
    255,
    0.95
  ); /* Semi-transparent white background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.about-section,
.team-section,
.mission-section {
  margin-bottom: 40px;
  background-color: #fff; /* White background for sections */
  padding: 20px; /* Added padding for sections */
  border-radius: 8px; /* Slight border radius for sections */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added shadow for sections */
}

h2 {
  color: #3498db; /* Blue heading color */
}

p {
  color: #555;
  line-height: 1.6;
}

.team-member {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
}

.member-avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.member-details {
  flex-grow: 1;
}

.member-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.member-rank {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
}
h3 {
  color: #2980b9;
}
.member-social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-icon {
  font-size: 20px;
}
.wa-icon {
  color: green;
}

/* Dark Mode Styles */

.dark-mode {
  background-color: #203543;
}

.dark-mode .about-container {
  background-color: #1e1e1e; /* Darker container background color */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Inverted shadow for contrast */
}

.dark-mode .about-section,
.dark-mode .team-section,
.dark-mode .mission-section {
  background-color: #2c2c2c; /* Darker section background color */
}

.dark-mode h2 {
  color: #61dafb; /* Cyan heading color in dark mode */
}

.dark-mode p {
  color: #999; /* Lighter text color in dark mode */
}

.dark-mode .team-member {
  background-color: #2c2c2c; /* Darker team member card background color */
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Inverted shadow for contrast */
}

.dark-mode .member-avatar img {
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Inverted shadow for contrast */
}

.dark-mode .member-name {
  background-color: #2c2c2c; /* Cyan background for name and rank */
  color: #fff; /* White text for contrast */
}

.dark-mode .member-social-icons {
  background-color: #2c2c2c; /* Darker background for social icons */
}

.dark-mode .wa-icon {
  color: #25d366; /* Green color for WhatsApp icon in dark mode */
}