body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8a7e78;
  color: white;
}
.dark-mode header {
  background-color: #333;
}
.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px;
}
.head-container h1 {
  color: black;
}
.dark-mode .head-container h1 {
  color: white;
}
.toggle-btn {
  display: none;
}

.menu-toggle p {
  color: black;
}

.dark-mode .menu-toggle p {
  color: white;
}

nav {
  text-align: center;
}

nav a {
  text-decoration: none;
  /* color: #cab1b1; */
  color: rgb(255, 255, 255);
  margin: 0 10px;
}

.tgls {
  display: inline-flex;

}
.menu-toggle {
  margin-right: 120px;
}
