* {
    margin: 0;
    padding: 0
}

.header {
    position: relative;
    height: 64px;
    padding: 0 64px;
    margin: 0 auto 64px;
    width: 100%;
    z-index: 99;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,.15)
}

.header,.header * {
    box-sizing: border-box
}

.header * {
    margin: 0;
    padding: 0
}

.header ul {
    list-style: none
}

.header-wrapper {
    max-width: 1280px;
    height: 64px;
    padding: 0 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    margin: auto;
    box-sizing: content-box
}

.header-left {
    height: 26px
}

.header .mobile-menu-btn {
    display: none
}

.header .nav a {
    color: #2a2a2a;
    font-weight: 400
}

.header .nav li {
    list-style: none!important
}

.header .nav>ul {
    display: flex
}

.header .nav>ul>li {
    font-size: 16px;
    margin-left: 48px
}

.header .nav>ul>li:first-child {
    margin-left: 0
}

.header .nav>ul>li a {
    text-decoration: none
}

.header .nav>ul>li>a {
    color: rgba(44,197,209,.8)
}

.header .nav>ul>li>a:hover {
    color: #2cc5d1
}

.header .nav>ul #list {
    margin-left: 48px;
    position: relative;
    display: flex;
    align-items: center;
    height: 64px
}

.header .nav>ul #list>a {
    text-decoration: none;
    position: relative;
    font-size: 16px;
    color: #2a2a2a
}

.header .nav>ul #list>a:after {
    display: inline-block;
    position: relative;
    top: -3px;
    content: "";
    width: 8px;
    height: 8px;
    margin-left: 12px;
    border-right: 1.5px solid #5c5c5c;
    border-top: 1.5px solid #5c5c5c;
    transform: rotate(135deg);
    opacity: .8
}

.header .nav>ul #list[data-cur=true]>a:after {
    transform: rotate(315deg);
    border-right: 1.5px solid #5c5c5c;
    border-top: 1.5px solid #5c5c5c;
    top: 3px
}

.header .nav>ul #list .content {
    display: none;
    position: absolute;
    min-width: 154px;
    top: 64px;
    background: #fff;
    z-index: 1;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,.15)
}

.header .nav>ul #list .content .cell {
    display: flex
}

.header .nav>ul #list .content .cell .listing {
    padding: 8px 0
}

.header .nav>ul #list .content .cell .listing>a {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    min-width: 229px;
    margin-bottom: 4px
}

.header .nav>ul #list .content .cell .listing>a:hover {
    background: rgba(76,223,215,.2)
}

.header .nav>ul #list .content .cell .listing>a:hover:before {
    content: "";
    width: 4px;
    height: 100%;
    background: #149992;
    position: absolute;
    left: 0;
    top: 0
}

.header .nav>ul #list .content .cell .listing .li:after {
    display: inline-block;
    position: relative;
    top: 6px;
    content: "";
    width: 6px;
    height: 6px;
    margin-left: 12px;
    border-right: 1.5px solid #5c5c5c;
    border-top: 1.5px solid #5c5c5c;
    transform: rotate(45deg);
    opacity: .8
}

.header .nav>ul #list .content .cell .side-box {
    display: none;
    padding: 8px 0;
    background: #dbf9f7;
    border-radius: 0 0 8px 0
}

.header .nav>ul #list .content .cell .side-box>ul>li {
    display: block;
    height: auto;
    margin-bottom: 4px
}

.header .nav>ul #list .content .cell .side-box>ul>li a {
    display: block;
    padding: 8px 16px
}

.header .nav>ul #list .content .cell .side-box>ul>li a:hover {
    color: #2ec8ce
}

.header .nav>ul #list .content .cell .side-box>ul>li:last-child {
    margin: 0
}

.header .nav>ul #list .content .cell .current {
    display: block
}

.header .nav>ul #list .content .cell a {
    position: relative;
    font-size: 16px;
    white-space: nowrap;
    text-decoration: none
}

.header .nav>ul #list .content .cell a:hover {
    text-decoration: none
}

.header .nav>ul #list[data-cur=true] .content {
    display: block
}

@media screen and (max-width: 768px) {
    .header {
        height:44px;
        padding: 0 16px;
        font-family: Segoe UI,SegoeUI,Avenir Next,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .header-wrapper {
        height: 44px;
        padding: 0
    }

    .header-left {
        height: 24px
    }

    .header-left>img {
        width: auto;
        height: 24px;
    }

    .header .logo {
        left: 0;
        top: 24px;
        width: 128px;
        height: 28px
    }

    .header .nav {
        display: none;
        position: fixed;
        top: 44px;
        left: 0;
        z-index: 100;
        width: 100%;
        height: calc(100vh - 44px);
        padding: 4px 16px 20px;
        box-sizing: border-box;
        background: #fff;
        overflow-y: auto
    }

    .header .nav>ul {
        display: flex;
        flex-direction: column
    }

    .header .nav>ul>li {
        margin-right: 0!important;
        padding: 16px 0;
        margin-left: 0
    }

    .header .nav>ul>li:last-child {
        margin: 0
    }

    .header .nav>ul #list {
        border-bottom: 1px solid #efefef;
        margin-left: 0;
        display: list-item;
        height: auto
    }

    .header .nav>ul #list>a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        padding: 0;
        color: #333;
        font-weight: 600
    }

    .header .nav>ul #list>a:after {
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        border-right: 2.5px solid #5c5c5c;
        border-top: 2.5px solid #5c5c5c;
        right: 4px
    }

    .header .nav>ul #list[data-cur=true]>a:after {
        transform: rotate(135deg);
        border-right: 2.5px solid #5c5c5c;
        border-top: 2.5px solid #5c5c5c
    }

    .header .nav>ul #list .content {
        position: static;
        border-top: none;
        box-shadow: none;
        width: 100%;
        margin: 0;
        padding: 0;
        min-height: auto;
        margin-top: 12px;
        transform: none
    }

    .header .nav>ul #list .content a:hover:before {
        display: none
    }

    .header .nav>ul #list .content .cell {
        flex-direction: column;
        padding: 0
    }

    .header .nav>ul #list .content .cell .listing {
        padding: 0
    }

    .header .nav>ul #list .content .cell .listing .li:after {
        width: 10px;
        height: 10px;
        right: 4px;
        border-right: 2.5px solid #5c5c5c;
        border-top: 2.5px solid #5c5c5c;
        transform: rotate(45deg)
    }

    .header .nav>ul #list .content .cell .listing .li[data-cur=true]:after {
        transform: rotate(135deg)
    }

    .header .nav>ul #list .content .cell .listing>a {
        padding: 8px 0;
        margin-bottom: 0
    }

    .header .nav>ul #list .content .cell .listing>a:hover {
        background: #fff
    }

    .header .nav>ul #list .content .cell>a {
        max-width: 200px;
        font-size: 16px;
        padding: 16px 0 0
    }

    .header .nav>ul #list .content .cell:after {
        position: absolute;
        right: 0;
        top: 30px
    }

    .header .nav>ul #list .content .cell .side-box {
        position: static;
        padding: 8px 16px;
        background: #fff
    }

    .header .nav>ul #list .content .cell .side-box ul li {
        max-width: 100%;
        flex-direction: column;
        border-bottom: none;
        padding: 0 0 16px;
        margin: auto
    }

    .header .nav>ul #list .content .cell .side-box ul li:last-child {
        padding: 0
    }

    .header .nav>ul #list .content .cell .side-box ul li>a {
        display: block;
        width: 100%;
        font-size: 14px;
        padding: 0
    }

    .header .mobile-menu-btn {
        display: inline-block;
        width: 24px;
        height: 24px;
        cursor: pointer;
        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEuNTU4IDQuOTY0aDIwLjg4NGMuNjYgMCAxLjE5NC0uNTIxIDEuMTk0LTEuMTY0IDAtLjY0Mi0uNTMzLTEuMTY0LTEuMTk0LTEuMTY0SDEuNTU4Yy0uNjYgMC0xLjE5NS41MjItMS4xOTUgMS4xNjQgMCAuNjQzLjUzNSAxLjE2NCAxLjE5NSAxLjE2NHptMjAuODgzIDUuODE4SDEuNTU4Yy0uNjYxIDAtMS4xOTUuNTIxLTEuMTk1IDEuMTY0IDAgLjY0Mi41MzQgMS4xNjMgMS4xOTUgMS4xNjNoMjAuODg0Yy42NiAwIDEuMTk0LS41MjEgMS4xOTQtMS4xNjMgMC0uNjQzLS41MzctMS4xNjQtMS4xOTUtMS4xNjR6bTAgOC4yNDFIMS41NThjLS42NiAwLTEuMTk1LjUyMi0xLjE5NSAxLjE2NCAwIC42NDIuNTM1IDEuMTY0IDEuMTk1IDEuMTY0aDIwLjg4NGMuNjYgMCAxLjE5NC0uNTIxIDEuMTk0LTEuMTY0IDAtLjY0Mi0uNTM0LTEuMTY0LTEuMTk1LTEuMTY0eiIgZmlsbD0iIzJkYzhkMCIvPjwvc3ZnPg==) no-repeat;
        background-size: 24px;
        border: none
    }

    .header .close {
        width: 16px;
        height: 16px;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAJ1BMVEVHcEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB+jSoGAAAADXRSTlMAgDV/LnwzVzFYMnst1j8PQAAAAH5JREFUGNNjmJrAAAVs4QyBQjCOojRDoqAChM0kKAXEUClFkKgiRAoiCJWCioEpmGowrQgzB8iAGwOSgkuApOASICmEBCpHURihjEnQBGGAorAD3GgmQQmEpRDnGAohnMvgDJaCKmABScG1gqTg3mYxFEMKEGdRhlJ4UPGEAwBJOA4HMdNVIwAAAABJRU5ErkJggg==) no-repeat 50%/cover
    }
}
