/* Reset default margin and padding */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7; /* Light gray background */
    color: #333; /* Dark text color */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* White container background */
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.301);
    margin-top: 4%;
}

h1 {
    text-align: center;
    margin-bottom: 30px; /* Increased margin */
    color: #333; /* Darker heading color */
}

form {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px; /* Increased margin */
    color: #555; /* Slightly darker label color */
}

input#urlInput {
    width: calc(100% - 48px);
}

#urlInput,
button {
    width: 30%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px; /* Increased margin */
    transition: all 0.3s ease;
    background-color: #f9f9f9; /* Lighter input/button background */
    color: #333; /* Dark text color */
}

#urlInput:focus,
button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2#videoTitle {
    margin-bottom: 20px;
}

.thumbnail-container {
    display: flex;
    align-items: center; /* Align items to the center */
    margin-bottom: 30px;
}

#videoThumbnail {
    display: none;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}
#tikVideoThumbnail {
    display: none;
    max-width: 100px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}

.infoButtons {
    display: inline;
    flex-direction: column;
    align-items: center;
}

.infoButtons button {
    padding: 10px 15px;
    margin-right: 10px; /* Add margin between buttons */
    font-size: 14px;
    border: 1px solid #3498db;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.infoButtons button:last-child {
    margin-right: 0; /* Remove margin for the last button */
}

.infoButtons button:hover {
    background-color: #2980b9;
}

.tikInfoButtons {
    display: inline;
    flex-direction: column;
    align-items: center;
}

.tikInfoButtons button {
    padding: 10px 15px;
    margin-right: 10px; /* Add margin between buttons */
    font-size: 14px;
    border: 1px solid #3498db;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tikInfoButtons button:last-child {
    margin-right: 0; /* Remove margin for the last button */
}

.tikInfoButtons button:hover {
    background-color: #2980b9;
}

.loading {
    display: none;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

#loadingIndicator {
    display: none;
    width: 50px;
    height: 50px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    color: #000;
    background-color: #a71e1e;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #fc8b8b;
    width: 80%;
}

.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#videoInfo {
    display: none;
}

#videoInfo.show {
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#videoInfo {
    display: flex;
    align-items: center;
}

#videoThumbnail {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}

/* Dark mode styles */
.dark-mode {
    background-color: #333; /* Change to your preferred dark mode background color */
    color: #fff; /* Change text color in dark mode if needed */
}
.dark-mode h1 {
    color: #ccc;
}
.dark-mode .infoButtons button {
    padding: 10px 15px;
    margin-right: 10px; /* Add margin between buttons */
    font-size: 14px;
    border: 1px solid #3498db;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.dark-mode input#urlInput {
    color: #ece3e3;
    background-color: #333;
}
.dark-mode .container {
    background-color: #131212;
    color: #fff;
}
.dark-mode button {
    background-color: #131212;
    color: #838282;
}
.dark-mode .modal-content {
    background-color: #636060;
}

/* CSS for dark mode toggle icon */
.dark-mode-toggle-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
    margin-top: 4%;
}

.fa-moon {
    font-size: 30px;
    color: #000; /* Icon color in light mode */
    cursor: pointer;
}

.dark-mode .fa-moon {
    color: #fff; /* Icon color in dark mode */
}
.dark-mode .menu-toggle i {
    color: #b9b7b7;
}
.dark-mode .left-menu {
    background-color: #131212;
}
.dark-mode .left-menu a {
    color: #b9b7b7;
}
/* Style for the menu toggle button/icon */
.menu-toggle {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    cursor: pointer;
}

/* Styles for the menu icon (using Font Awesome) */
.menu-toggle i {
    font-size: 24px;
    color: #000; /* Change icon color as needed */
}


/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
    body, html {
        margin: 0;
        padding: 0;
        width: 100%; /* Adjust width to fit the viewport */
        overflow-x: hidden; /* Hide horizontal overflow */
    }
    .container {
        width: 100%; /* Make the container full-width */
        padding: 10px; /* Adjust container padding for smaller screens */
        box-sizing: border-box; /* Include padding in the width calculation */
    }

    h1 {
        margin-bottom: 20px; /* Decreased margin for smaller screens */
    }

    input#urlInput,
    button {
        width: calc(100% - 24px); /* Make input and button full-width with space for padding */
        margin-bottom: 10px; /* Add space between input and button */
    }

    h2#videoTitle {
        font-size: 110%; /* Adjust the font size as needed for mobile */
        margin-bottom: 20px; /* Optional: adjust margin for the title */
        white-space: nowrap; /* Prevent text wrapping */
        overflow: hidden; /* Hide overflowing text */
        text-overflow: ellipsis; /* Show an ellipsis (...) for overflow */
    }

    .thumbnail-container {
        flex-direction: column; /* Stack thumbnail above content on smaller screens */
        margin-bottom: 20px; /* Adjust margin for smaller screens */
    }

    #videoThumbnail {
        max-width: 100%; /* Make the thumbnail responsive to the container */
        margin-right: 0; /* Remove right margin on smaller screens */
        margin-bottom: 15px; /* Adjust margin for smaller screens */
    }

    .infoButtons {
        flex-direction: row; /* Align buttons horizontally on smaller screens */
        justify-content: center; /* Center align buttons on smaller screens */
        margin-bottom: 20px; /* Adjust margin for smaller screens */
    }

    .infoButtons button {
        margin-right: 10px; /* Adjust margin between buttons for smaller screens */
    }

    .modal-content {
        width: 90%; /* Adjust modal content width for smaller screens */
    }

    /* Adjust any other styles as needed for mobile devices */
}

/* Paste this CSS code in your existing stylesheet or create a new one */
.area {
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}