/* Media query for mobile devices */

@media only screen and (max-width: 768px) {
    .toggle-btn {
        display: flex;
        color: white;
        border: none;
        cursor: pointer;
    }
     #navbar {
        display: none;
    }
    body, html {
        margin: 0;
        padding: 0;
        width: 100%; /* Adjust width to fit the viewport */
        overflow-x: hidden; /* Hide horizontal overflow */
    }
    .container {
        width: 100%; /* Make the container full-width */
        padding: 10px; /* Adjust container padding for smaller screens */
        box-sizing: border-box; /* Include padding in the width calculation */
    }

    h3 {
        margin-bottom: 20px; /* Decreased margin for smaller screens */
    }

    input#urlInput,
    button {
        width: calc(100% - 24px); /* Make input and button full-width with space for padding */
        margin-bottom: 10px; /* Add space between input and button */
    }

    h2#videoTitle {
        font-size: 110%; /* Adjust the font size as needed for mobile */
        margin-bottom: 20px; /* Optional: adjust margin for the title */
        white-space: nowrap; /* Prevent text wrapping */
        overflow: hidden; /* Hide overflowing text */
        text-overflow: ellipsis; /* Show an ellipsis (...) for overflow */
    }
    #videoThumbnail {
        max-width: 100%; /* Make the thumbnail responsive to the container */
        margin-right: 0; /* Remove right margin on smaller screens */
        margin-bottom: 15px; /* Adjust margin for smaller screens */
    }

    .infoButtons {
        flex-direction: row; /* Align buttons horizontally on smaller screens */
        justify-content: center; /* Center align buttons on smaller screens */
        margin-bottom: 20px; /* Adjust margin for smaller screens */
    }

    .infoButtons button {
        margin-left: 10px; 
    }

    .modal-content {
        width: 90%; /* Adjust modal content width for smaller screens */
    }
    #tikVideoThumbnail {
        max-width: 100px;
    }
    .thumbnail-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .tikInfoButtons {
        display: flex;
        flex-direction: column;
    }
    .history-menu.active {
        left: 0;
        overflow-y: auto; /* Enable vertical scrolling */
        width: 210px;
    }
}