
.logo {
    position: relative; /* or absolute, fixed depending on your layout needs */
    top: -10px; /* Adjust this value to move the image vertically */
    left: -60px; /* Adjust this value to move the image horizontally */
}
.xsitename {
    display: none;
}
.supported-platforms {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.platform {
    display: inline-block;
    vertical-align: top; /* Align elements at the top */
}
.platform h6 {
    margin-bottom: 10px;
}
.platform img {
    width: auto;
    height: 60px;
}

.platform h5 {
    margin: 0;
    position: relative;
    top: -10px;
}


.history-menu ul li img {
    width: 180px; /* Adjust the width of the thumbnails */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add spacing between thumbnails and titles */
    padding: 10px;
}

.dark-mode .header, .dark-mode .header .nav, .dark-mode .header .nav>ul #list .content {
    background-color: black;
}
.dark-mode .header .nav>ul #list>a {
    color: white;
}
.dark-mode .header .nav a {
    color: red;
}
.dark-mode .header .nav>ul #list>a:after{
    border-right: 1.5px solid #fff7f7;
    border-top: 1.5px solid #ffffff;
}

.menu-toggle {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    width: 18px;
    margin-left: 10px;
}

.ics-ptfrms {
    display: flex;
}
.sect-hist {
    display: flex;
    margin-left: 10px;
}
.dark-mode-toggle-container {
    margin-right: 20px
}
.history-menu h4{
    margin-left: 5px;
  }