/* Styles for the top menu */
.top-menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #b9b7b7; /* Adjust the background color as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for a better look */
    z-index: 1000; /* Ensure the menu appears above other content */
}

.top-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px; /* Adjust the height as needed */
}

.top-menu li {
    margin-right: 20px; /* Adjust space between menu items */
}

.top-menu a {
    text-decoration: none;
    color: #050505; /* Adjust link color */
    transition: color 0.3s ease;
}

.top-menu a:hover {
    color: #3498db; /* Change link color on hover */
}

/* Adjustments for the menu toggle button */
.menu-toggle {
    display: none; /* Initially hide the toggle button for smaller screens */
    margin-right: 15px;
    cursor: pointer;
}

.content-shifted {
    transition: transform 0.5s ease;
    transform: translateX(0);
}

/* Adjustments for larger screens */
@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Show the toggle button for smaller screens */
    }

    .top-menu ul {
        display: none; /* Initially hide the menu for smaller screens */
        position: absolute;
        background-color: #b9b7b7; /* Adjust background color */
        top: 50px;
        left: 0;
        width: 100%;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for a better look */
    }

    .top-menu ul.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .content-shifted {
        transform: translateY(40%);
    }
}

